* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

table {
    margin: 0 auto;
    font-size: 1.5em;
    border-collapse: collapse;

}

td{
    padding: 10px 15px;
    border: 3px black solid;
    background-color: rgb(187, 185, 185);
    text-align: left;
    
}

td:first-child {
    font-weight: bold;
}

img {
    max-width: 600px;
    height: auto;
}

h1 {
    background-color: black;
    font-size: 3em;
    color: white;
    padding: 10px;
}

h2 {
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

nav {
    background-color: rgb(0, 0, 0);
    font-size: 1.8em;
    margin-bottom: 20px;
    color: white;
    
}

nav a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 2px solid transparent;
    display: inline-block;
}

nav a:hover {
    border: 2px rgb(255, 255, 255) solid;
}

nav a:link, nav a:visited {
    color: white;
}

h2,img, p, h3 {
    margin-bottom: 20px;
}

p{
    text-align: left;
    padding: 20px;
    font-size: 1.5em;

}

footer {
    margin-top: 30px;
    background-color: black;
    color: white;
}

